@import 'bootstrap';
@import 'datatables.net-bs5';

/** Css Principal */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    color: #2c3e50;
}

.dt-buttons {
    padding: 5px;
}

.logo {
    width: auto;
    height: 64px;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
}

nav a.router-link-exact-active {
    color: #42b983;
}

/** Css para los botones de la pestaña de medallas */
.medallas {
    width: 50%;
}

/** Css para el formulario de Login */
.cuerpo {
    height: 100%;
}

.cuerpo {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.form-signin {
    max-width: 330px;
    /* padding: 15px; */
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}